GeoLib.Client/Connected Services/ServiceReference1/WcfEndToEnd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd/Imports">
      <xsd:import namespace="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeoService_GetZipInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZipInfo" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetZipInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZipInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStates" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetZipsByState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZipsByState" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetZipsByState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZipsByStateResponse" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetZipsForRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZipsForRange" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetZipsForRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZipsForRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeoService">
    <wsdl:operation name="GetZipInfo">
      <wsdl:input wsaw:Action="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd/IGeoService/GetZipInfo" message="tns:IGeoService_GetZipInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd/IGeoService/GetZipInfoResponse" message="tns:IGeoService_GetZipInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <wsdl:input wsaw:Action="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd/IGeoService/GetStates" message="tns:IGeoService_GetStates_InputMessage" />
      <wsdl:output wsaw:Action="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd/IGeoService/GetStatesResponse" message="tns:IGeoService_GetStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZipsByState">
      <wsdl:input wsaw:Action="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd/IGeoService/GetZipsByState" message="tns:IGeoService_GetZipsByState_InputMessage" />
      <wsdl:output wsaw:Action="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd/IGeoService/GetZipsByStateResponse" message="tns:IGeoService_GetZipsByState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZipsForRange">
      <wsdl:input wsaw:Action="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd/IGeoService/GetZipsForRange" message="tns:IGeoService_GetZipsForRange_InputMessage" />
      <wsdl:output wsaw:Action="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd/IGeoService/GetZipsForRangeResponse" message="tns:IGeoService_GetZipsForRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>