GeoLib.Client/Connected Services/ServiceReference1/WcfEndToEnd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd" elementFormDefault="qualified" targetNamespace="http://www.pluralsight.com/MiguelCastro/WcfEndToEnd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetZipInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetZipInfoResult" nillable="true" type="tns:ZipCodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ZipCodeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZipCodeData" nillable="true" type="tns:ZipCodeData" />
  <xs:element name="GetStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primaryOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStatesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipsByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipsByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetZipsByStateResult" nillable="true" type="tns:ArrayOfZipCodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfZipCodeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZipCodeData" nillable="true" type="tns:ZipCodeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZipCodeData" nillable="true" type="tns:ArrayOfZipCodeData" />
  <xs:element name="GetZipsForRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="range" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipsForRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetZipsForRangeResult" nillable="true" type="tns:ArrayOfZipCodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>